<html>
  <body>
    <div style="text-align: center" class="well span8 offset1">
      <form class="form-inline" name="input" action='/testme' method='POST'>
        <input style="font-size: 18px; height: auto;" class="input-xlarge" name="email" value='' type="text" placeholder="Enter E-mail to check">
        <input class="btn btn-large btn-primary" type="submit" value="Submit">
      </form>
      <%=@bench%> <br>
      <%=@table%>
    </div>
  </body>
</html>
